@if (faq()) {
<app-page-header [title]="faq()!.question">
    <app-breadcrumb slot="breadcrumb" [items]="breadcrumbs" />
    <app-button slot="actions" variant="ghost-primary" icon="edit" [link]="'/faq/' + faq()!.id + '/edit'" />
    <app-button slot="actions" variant="ghost-error" icon="delete" (action)="onDelete()" />
</app-page-header>

<app-detail-view [createdAt]="faq()!.createdAt" [updatedAt]="faq()!.updatedAt" listUrl="/faqs">
    <div class="whitespace-pre-wrap">{{ faq()!.answer }}</div>
</app-detail-view>
}
