<div class="max-w-[1280px] mx-auto px-5 md:px-16 py-10">
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-slate-200">
      <!-- <thead class="bg-slate-50">
          <tr>
            <th scope="col" class="px-6 py-4 text-left text-sm font-semibold text-slate-900">제목</th>
            <th scope="col" class="px-6 py-4 text-right text-sm font-semibold text-slate-900 w-44">등록일</th>
          </tr>
        </thead> -->
      <tbody class="divide-y divide-slate-200 bg-white">
        <tr *ngFor="let notice of notices" (click)="goDetail(notice)"
          class="hover:bg-slate-50 cursor-pointer transition-colors duration-150">
          <td class="px-6 py-4 text-sm text-slate-900 font-medium">
            <div class="line-clamp-1">{{ notice.title }}</div>
          </td>
          <td class="px-6 py-4 text-sm text-slate-500 text-right whitespace-nowrap">
            {{ notice.createdAt | date:'yyyy.MM.dd' }}
          </td>
        </tr>

        <tr *ngIf="notices.length === 0">
          <td colspan="2" class="px-6 py-12 text-center text-slate-500 text-sm">
            등록된 공지사항이 없습니다.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [pageInfo]="pageInfo" (pageChange)="onPageChange($event)" />
</div>