@if (notice()) {
<app-page-header [title]="notice()!.title">
    <app-breadcrumb slot="breadcrumb" [items]="breadcrumbs" />
    <app-button slot="actions" variant="ghost-primary" icon="edit" label="수정" [link]="'/notice/' + notice()!.id + '/edit'" />
    <app-button slot="actions" variant="ghost-error" icon="delete" label="삭제" (action)="onDelete()" />
</app-page-header>

<app-detail-view [createdAt]="notice()!.createdAt" [updatedAt]="notice()!.updatedAt">
    <div class="whitespace-pre-wrap">{{ notice()!.content }}</div>
</app-detail-view>
}